form input {
  color:blue;
}
div input {
  color:green;
}
@keyframes animar{
  from{
    background-color:yellow;
    color:blue;
    width:50px;

  }
  to{
    background-color:black;
    color:white;
    width:400px;
  }
}
input[type="submit"]{
  //animation-name:animar;
  //animation-duration:2s;
  animation-iteration-count:infinite;
}
